@model Pajophone.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="category_tree" class="form-group">
                // Category Tree will be Loaded here by jquery
            </div>
            <div class="my-2"> Selected Category : <span id="selected_category"></span> </div>
            <div class="form-group visually-hidden">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" id="selected_category_id" class="form-control"></input>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div id="fields-container">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $.getJSON(
            '@Url.Action("GetTree", "Category")',
            function(data) {
                $('#category_tree').tree({
                    data: data,
                    autoOpen: 0
                });
            }
        );

        $("#category_tree").on(
            'tree.select',
            function(event) {
                if (event.node) {
                    const node = event.node;
                    $("#selected_category").text(node.name);
                    $("#selected_category_id").val(node.id);

                    $.ajax({
                        url: '@Url.Action("GetFieldKeys", "Category")',
                        type: 'GET',
                        data: { categoryId: node.id },
                        success: function(fields) {
                            $('.dynamic-fields').remove();
                            fields.forEach((field) => {
                                console.log(field);
                                let fieldHtml = `
                            <div class="form-group dynamic-fields my-2">
                                <label class="control-label" >${field.key}</label>
                                <input class="${field.fieldType === 0 ? 'form-check-input': "form-control w-25"}" type="${field.fieldType === 0 ? 'checkbox' : 'text'}" name="Fields[${fields.indexOf(field)}].Value" />
                                <input type="hidden" name="Fields[${fields.indexOf(field)}].KeyId" value="${field.keyId}" />
                                <input type="hidden" name="Fields[${fields.indexOf(field)}].Key" value="${field.key}" />
                                <input type="hidden" name="Fields[${fields.indexOf(field)}].FieldType" value="${field.fieldType}" />
                            </div>`;
                                $('#fields-container').append(fieldHtml);
                            });
                        }
                    });
                }
            }
        );
    </script>
}