
@model Pajophone.ViewModels.ProductCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>ProductCategoryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="category_tree">
                // Category Tree will be Loaded here by jquery
            </div>
            <div class="my-2"> Selected Parent Category : <span class="text-primary" id="selected_parent"></span> </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group visually-hidden">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" id="selected_parent_id" class="form-control"></input>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="my-2"> Fields : </div>
            <div id="field_group">
                // Extra Fields Will be dynamically added here
            </div>
            <button id="rowAdder" type="button" class="btn btn-dark ms-3">
                <span class="fa fa-solid fa-plus"></span>
            </button>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>

        $.getJSON(
            '@Url.Action("GetTree")',
            function(data) {
                $('#category_tree').tree({
                    data: data,
                    autoOpen: 0
                });
            }
        );

        $("#category_tree").on(
            'tree.select',
            function(event) {
                if (event.node) {
                    const node = event.node;
                    $("#selected_parent").text(node.name);
                    $("#selected_parent_id").val(node.id);
                }
            }
        );
        
        function reIndex() {
            const inputs = document.querySelectorAll('#field_group input');
            const selects = document.querySelectorAll('#field_group select');
            inputs.forEach((input, index) => {
                input.name = `FieldKeys[${index}].Key`;
            });
            selects.forEach((select, index) => {
                select.name = `FieldKeys[${index}].FieldType`;
            });
        }
        
        $("#rowAdder").click(function () {
            $('#field_group').append(`@Html.Partial("partials/_FieldKeyInput", Model)`);
            reIndex();
        });
        
        $("body").on("click", ".DeleteRow", function () {
            $(this).closest(".field_template").remove();
            reIndex();
        });
    
    </script>
}