@{
    ViewData["Title"] = "Home Page";
    Layout = "_ShopLayout";
}

@section Style
{
    <link rel="stylesheet" href="~/css/Home/index.css">
}

<div id="app" class="container-fluid pe-0">
    <div class="d-flex flex-row-reverse">
        <div id="sidebar" class="collapse collapse-horizontal end-0 m-0" style="width: 15vw;">
            // form
        </div>
        <div class="container pt-5" id="card-view">
            <div class="row row-cols-1  row-cols-lg-4 g-4 justify-content-between">
                <div class="col mx-2">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mx-2">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mx-2">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col mx-2">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>